In [84]:
# Import Libraries
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from time import sleep
import random
import pandas as pd

In [85]:
# Initialize selenium webdriver
#driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
#driver.get("https://www.soccerstats.com/timing.asp?league=england")

# Delay
sleep(random.uniform(3,5))

In [86]:
# Home - Goals Scored & Conceded

# Declare lists
club_name = []
min_0_15 = []
min_16_30 = []
min_31_45 = []
min_46_60 = []
min_61_75 = []
min_76_90 = []
half_1 = []
half_2 = []


for i in range(20):
    # Initialize selenium webdriver
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get("https://www.soccerstats.com/timing.asp?league=england")
    
    # Delay
    sleep(3)
    
    # Append to the lists
    club_name.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[1]').text)
    min_0_15.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[2]').text)
    min_16_30.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[3]').text)
    min_31_45.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[4]').text)
    min_46_60.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[5]').text)
    min_61_75.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[6]').text)
    min_76_90.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[7]').text)
    half_1.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[9]').text)
    half_2.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[5]/tbody/tr[' + str(i + 2) + ']/td[10]').text)

    # Close Driver
    driver.close()

In [87]:
# Create df
epl_home_df = pd.DataFrame({'Club':club_name,
                        '0-15':min_0_15,
                       '16-30':min_16_30,
                       '31-45':min_31_45,
                       '46-60':min_46_60,
                       '61-75':min_61_75,
                       '76-90':min_76_90,
                        '1st_Half':half_1,
                        '2nd_Half':half_2})

# Data preprocessing/manipulation

# Split Score and Concede goals
for column in epl_home_df.iloc[:, 1:]:
    epl_home_df[['Scored_' + str(column), 'Conceded_' + str(column)]] = epl_home_df[column].str.split('-', expand = True)
# Drop columns
epl_home_df.drop(columns = epl_home_df.iloc[:, 1:9], inplace = True)
# Switch to Long format df
epl_home_df = pd.melt(epl_home_df, id_vars = 'Club', var_name = 'Time', value_name = 'Count')
# Split Time column
epl_home_df[['Score_Concede', 'Time']] = epl_home_df['Time'].str.split('_', 1, expand = True)
# Create Home vs Away column
epl_home_df['Home_Away'] = 'Home'
# Convert Count from object to int
epl_home_df['Count'] = epl_home_df['Count'].apply(int)
# Reorder columns
epl_home_df = epl_home_df[['Club', 'Home_Away', 'Score_Concede', 'Time', 'Count']]


# Review df
epl_home_df.info()
epl_home_df[(epl_home_df['Club'] == 'Arsenal')]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Club           320 non-null    object
 1   Home_Away      320 non-null    object
 2   Score_Concede  320 non-null    object
 3   Time           320 non-null    object
 4   Count          320 non-null    int64
dtypes: int64(1), object(4)
memory usage: 12.6+ KB

        Club Home_Away Score_Concede      Time  Count
0    Arsenal      Home        Scored      0-15      6
20   Arsenal      Home      Conceded      0-15      2
40   Arsenal      Home        Scored     16-30      5
60   Arsenal      Home      Conceded     16-30      1
80   Arsenal      Home        Scored     31-45      5
100  Arsenal      Home      Conceded     31-45      3
120  Arsenal      Home        Scored     46-60      8
140  Arsenal      Home      Conceded     46-60      3
160  Arsenal      Home        Scored     61-75      4
180  Arsenal      Home      Conceded     61-75      4
200  Arsenal      Home        Scored     76-90      7
220  Arsenal      Home      Conceded     76-90      4
240  Arsenal      Home        Scored  1st_Half     16
260  Arsenal      Home      Conceded  1st_Half      6
280  Arsenal      Home        Scored  2nd_Half     19
300  Arsenal      Home      Conceded  2nd_Half     11

In [88]:
# Away - Goals Scored & Conceded

# Declare lists
club_name = []
min_0_15 = []
min_16_30 = []
min_31_45 = []
min_46_60 = []
min_61_75 = []
min_76_90 = []
half_1 = []
half_2 = []


for i in range(20):
    # Initialize selenium webdriver
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    driver.get("https://www.soccerstats.com/timing.asp?league=england")
    
    # Delay
    sleep(3)
    
    # Append to the lists
    club_name.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[1]').text)
    min_0_15.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[2]').text)
    min_16_30.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[3]').text)
    min_31_45.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[4]').text)
    min_46_60.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[5]').text)
    min_61_75.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[6]').text)
    min_76_90.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[7]').text)
    half_1.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[9]').text)
    half_2.append(driver.find_element('xpath', '//*[@id="content"]/div[3]/div[3]/table[1]/tbody/tr/td/table[8]/tbody/tr[' + str(i + 2) + ']/td[10]').text)

    # Close Driver
    driver.close()

In [89]:
# Create df
epl_away_df = pd.DataFrame({'Club':club_name,
                        '0-15':min_0_15,
                       '16-30':min_16_30,
                       '31-45':min_31_45,
                       '46-60':min_46_60,
                       '61-75':min_61_75,
                       '76-90':min_76_90,
                        '1st_Half':half_1,
                        '2nd_Half':half_2})

# Data preprocessing/manipulation

# Split Score and Concede goals
for column in epl_away_df.iloc[:, 1:]:
    epl_away_df[['Scored_' + str(column), 'Conceded_' + str(column)]] = epl_away_df[column].str.split('-', expand = True)
# Drop columns
epl_away_df.drop(columns = epl_away_df.iloc[:, 1:9], inplace = True)
# Switch to Long format df
epl_away_df = pd.melt(epl_away_df, id_vars = 'Club', var_name = 'Time', value_name = 'Count')
# Split Time column
epl_away_df[['Score_Concede', 'Time']] = epl_away_df['Time'].str.split('_', 1, expand = True)
# Create Home vs Away column
epl_away_df['Home_Away'] = 'Away'
# Convert Count from object to int
epl_away_df['Count'] = epl_away_df['Count'].apply(int)
# Reorder columns
epl_away_df = epl_away_df[['Club', 'Home_Away', 'Score_Concede', 'Time', 'Count']]

# Review df
epl_away_df.info()
epl_away_df[(epl_away_df['Club'] == 'Arsenal')]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Club           320 non-null    object
 1   Home_Away      320 non-null    object
 2   Score_Concede  320 non-null    object
 3   Time           320 non-null    object
 4   Count          320 non-null    int64
dtypes: int64(1), object(4)
memory usage: 12.6+ KB

        Club Home_Away Score_Concede      Time  Count
0    Arsenal      Away        Scored      0-15      5
20   Arsenal      Away      Conceded      0-15      3
40   Arsenal      Away        Scored     16-30      8
60   Arsenal      Away      Conceded     16-30      5
80   Arsenal      Away        Scored     31-45      4
100  Arsenal      Away      Conceded     31-45      7
120  Arsenal      Away        Scored     46-60      4
140  Arsenal      Away      Conceded     46-60      5
160  Arsenal      Away        Scored     61-75      1
180  Arsenal      Away      Conceded     61-75      5
200  Arsenal      Away        Scored     76-90      4
220  Arsenal      Away      Conceded     76-90      6
240  Arsenal      Away        Scored  1st_Half     17
260  Arsenal      Away      Conceded  1st_Half     15
280  Arsenal      Away        Scored  2nd_Half      9
300  Arsenal      Away      Conceded  2nd_Half     16

In [92]:
# Combine the 2 df's
epl_df = epl_home_df.append(epl_away_df, ignore_index = True)

# Export epl_df to csv file
epl_df.to_csv('epl_goal_scored_conceded_2021_22.csv', index = False)